<!DOCTYPE html>
<html lang="en">
  <head>
    <title>STech</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500"> 
    
    <link rel="stylesheet" href="{{ url_for('static',    filename='fonts/icomoon/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/bootstrap-datepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='fonts/flaticon/font/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/fl-bigmug-line.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/aos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/style.css') }}">

  </head>
  <body>
    <div class="site-wrap">
      <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
  
    
    <header class="site-navbar py-1" role="banner">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-6 col-xl-2">
            <h1 class="mb-0"><a href="index.html" class="text-black h2 mb-0">S<strong>Tech</strong></a></h1>
          </div>

          <div class="col-10 col-xl-10 d-none d-xl-block">
            <nav class="site-navigation text-right" role="navigation">
              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class="active"><a href="index.html">Home</a></li>

                <li class="has-children">
                  <a href="#">Realtionship</a>
                  <!--
                  <ul class="dropdown">
                    <li><a href="#">Love Search</a></li>
                    <li><a href="#">Family Search</a></li>
                    <li><a href="#">Friends Search</a></li>
                  </ul>
                -->
                </li>

                <li class="has-children">
                  <a href="#">Tech Search</a>
                  <!--
                  <ul class="dropdown">
                    <li><a href="#">Unix</a></li>
                    <li><a href="#">Linux</a></li>
                    <li><a href="#">Languages</a></li>
                  </ul>
                -->
                </li>

                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="new-post.html"><span class="rounded bg-primary py-2 px-3 text-white"><span class="h5 mr-2">+</span> Log In</span></a></li>

              </ul>
            </nav>
          </div>
          <div class="col-6 col-xl-2 text-right d-block">
            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
          </div>
        </div>
      </div>    
    </header>

    <div class="site-blocks-cover" style="background-image: url({{ url_for('static', filename='images/Alice3.jpg')}});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row row-custom align-items-center">
          <div class="col-md-10">
            <h1 class="mb-2 text-black w-75"><span class="font-weight-bold">Easy Search</span> Capture all important information</h1>
            <div class="job-search">
              
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <!-- Button trigger modal-->
                    <button type="button" class="nav-link active py-3">Find Information</button>
                  </li>

                <li class="nav-item">
                  <!-- Button trigger modal-->
                  <button type="button" id="myBtn"  class="nav-link active py-3">Choose Shape</button>
                </li>

                <li class="nav-item">
                  <!-- Button trigger modal-->
                  <!-- Trigger/Open The Modal -->
                  <button id="myBtn233" class="nav-link active py-3">Open Modal</button>
                </li>

              </ul>


              <div class="tab-content bg-white p-4 rounded" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-job" role="tabpanel" aria-labelledby="pills-job-tab">
                  <form action="http://127.0.0.1:5000/google_search" method="post" id="search_form" onsubmit="return validateForm()">
                    <div class="row">
            
                      <div class="col-md-9 col-lg-9 mb-3 mb-lg-0">
                        <input name="search_content" type="text" class="form-control" placeholder="eg. Game of Thrones" >
                        <input id="shape_choice" name="shape_choice" type="hidden" value="default">
                      </div>

                      <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                        <input type="submit" name="submit_search" class="btn btn-primary btn-block" value="Search">
                      </div>

                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>  


    <!--Modal: modeShape-->
    <div id="modalShape" class="modal">
      <div class="modal-dialog modal-lg">
        <!--Content-->
        <div class="modal-content text-center">
          <!--Header-->
          <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Shape</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

          <!--Body-->
          <div class="modal-body">
            <form>
              
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item active">
                  <p type="text" style="font-size: 15pt;" aria-selected="true">Shape Choice: </p>
                </li>
                <li>
                  <img type=“img”  id="shape_show" style="display: none; float: left; padding-left: 20px;" src="{{url_for('static', filename='icon/shape/shape0.jpg')}}">
                </li> 
              </ul>
        
              <div class="row"> 
                <div class="colomn">
                  <img type=“img”  id="shape0"  onclick= "shape(this.id)" src="{{url_for('static', filename='icon/shape/shape0.jpg')}}">    
                  <img type=“img”  id="shape1"  onclick= "shape(this.id)" src="{{url_for('static', filename='icon/shape/shape1.jpg')}}">
                  <img type=“img”  id="shape2"  onclick= "shape(this.id)" src="{{url_for('static', filename='icon/shape/shape2.jpg')}}">
                  <img type=“img”  id="shape3"  onclick= "shape(this.id)" src="{{url_for('static', filename='icon/shape/shape3.jpg')}}">     
                  <img type=“img”  id="shape4"  onclick= "shape(this.id)" src="{{url_for('static', filename='icon/shape/shape4.jpg')}}">
                  <img type=“img”  id="shape5"  onclick= "shape(this.id)" src="{{url_for('static', filename='icon/shape/shape6.jpg')}}">
                  <img type=“img”  id="shape6"  onclick= "shape(this.id)" src="{{url_for('static', filename='icon/shape/shape6.jpg')}}">      
                  <img type=“img”  id="shape7"  onclick= "shape(this.id)" src="{{url_for('static', filename='icon/shape/shape7.jpg')}}">
                  <img type=“img”  id="shape8"  onclick= "shape(this.id)" src="{{url_for('static', filename='icon/shape/shape8.jpg')}}">
                  <img type=“img”  id="shape9"  onclick= "shape(this.id)" src="{{url_for('static', filename='icon/shape/shape9.jpg')}}">       
                  <img type=“img”  id="shape10"  onclick= "shape(this.id)" src="{{url_for('static', filename='icon/shape/shape10.jpg')}}">
                  <img type=“img”  id="shape11"  onclick= "shape(this.id)" src="{{url_for('static', filename='icon/shape/shape11.jpg')}}">
                  <img type=“img”  id="shape12"  onclick= "shape(this.id)" src="{{url_for('static', filename='icon/shape/shape12.jpg')}}">       
                  <img type=“img”  id="shape13"  onclick= "shape(this.id)" src="{{url_for('static', filename='icon/shape/shape13.jpg')}}">
                  <img type=“img”  id="shape14"  onclick= "shape(this.id)" src="{{url_for('static', filename='icon/shape/shape14.jpg')}}">
                  <img type=“img”  id="shape15"  onclick= "shape(this.id)" src="{{url_for('static', filename='icon/shape/shape15.jpg')}}">       
                  <img type=“img”  id="shape16"  onclick= "shape(this.id)" src="{{url_for('static', filename='icon/shape/shape16.jpg')}}">
                  <img type=“img”  id="shape17"  onclick= "shape(this.id)" src="{{url_for('static', filename='icon/shape/shape17.jpg')}}">
                  <img type=“img”  id="shape18"  onclick= "shape(this.id)" src="{{url_for('static', filename='icon/shape/shape18.jpg')}}">      
                  <img type=“img”  id="shape19"  onclick= "shape(this.id)" src="{{url_for('static', filename='icon/shape/shape19.jpg')}}">
                  <img type=“img”  id="shape20"  onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape20.jpg')}}">
                  <img type=“img”  id="shape21" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape21.jpg')}}">
                  <img type=“img”  id="shape22" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape22.jpg')}}">
                  <img type=“img”  id="shape23" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape23.jpg')}}">
                  <img type=“img”  id="shape24" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape24.jpg')}}">
                  <img type=“img”  id="shape25" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape25.jpg')}}">
                  <img type=“img”  id="shape26" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape26.jpg')}}">
                  <img type=“img”  id="shape27" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape27.jpg')}}">
                  <img type=“img”  id="shape28" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape28.jpg')}}">
                  <img type=“img”  id="shape29" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape29.jpg')}}">
                  <img type=“img”  id="shape30" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape30.jpg')}}">
                  <img type=“img”  id="shape31" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape31.jpg')}}">
                  <img type=“img”  id="shape32" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape32.jpg')}}">
                  <img type=“img”  id="shape33" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape33.jpg')}}">
                  <img type=“img”  id="shape34" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape34.jpg')}}">
                  <img type=“img”  id="shape35" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape35.jpg')}}">
                  <img type=“img”  id="shape36" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape36.jpg')}}">
                  <img type=“img”  id="shape37" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape37.jpg')}}">
                  <img type=“img”  id="shape38" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape38.jpg')}}">
                  <img type=“img”  id="shape39" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape39.jpg')}}">
                  <img type=“img”  id="shape40" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape40.jpg')}}">
                  <img type=“img”  id="shape41" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape41.jpg')}}">
                  <img type=“img”  id="shape42" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape42.jpg')}}">
                  <img type=“img”  id="shape43" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape43.jpg')}}">
                  <img type=“img”  id="shape44" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape44.jpg')}}">
                  <img type=“img”  id="shape45" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape45.jpg')}}">
                  <img type=“img”  id="shape46" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape46.jpg')}}">
                  <img type=“img”  id="shape47" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape47.jpg')}}">
                  <img type=“img”  id="shape48" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape48.jpg')}}">
                  <img type=“img”  id="shape49" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape49.jpg')}}">
                  <img type=“img”  id="shape50" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape50.jpg')}}">
                  <img type=“img”  id="shape51" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape51.jpg')}}">
                  <img type=“img”  id="shape52" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape52.jpg')}}">
                  <img type=“img”  id="shape53" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape53.jpg')}}">
                  <img type=“img”  id="shape54" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape54.jpg')}}">
                  <img type=“img”  id="shape55" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape55.jpg')}}">
                  <img type=“img”  id="shape56" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape56.jpg')}}">
                  <img type=“img”  id="shape57" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape57.jpg')}}">
                  <img type=“img”  id="shape58" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape58.jpg')}}">
                  <img type=“img”  id="shape59" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape59.jpg')}}">
                  <img type=“img”  id="shape60" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape60.jpg')}}">
                  <img type=“img”  id="shape61" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape61.jpg')}}">
                  <img type=“img”  id="shape62" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape62.jpg')}}">
                  <img type=“img”  id="shape63" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape63.jpg')}}">
                  <img type=“img”  id="shape64" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape64.jpg')}}">
                  <img type=“img”  id="shape65" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape65.jpg')}}">
                  <img type=“img”  id="shape66" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape66.jpg')}}">
                  <img type=“img”  id="shape67" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape67.jpg')}}">
                  <img type=“img”  id="shape68" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape68.jpg')}}">
                  <img type=“img”  id="shape69" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape69.jpg')}}">
                  <img type=“img”  id="shape70" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape70.jpg')}}">
                  <img type=“img”  id="shape71" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape71.jpg')}}">
                  <img type=“img”  id="shape72" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape72.jpg')}}">
                  <img type=“img”  id="shape73" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape73.jpg')}}">
                  <img type=“img”  id="shape74" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape74.jpg')}}">
                  <img type=“img”  id="shape75" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape75.jpg')}}">
                  <img type=“img”  id="shape76" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape76.jpg')}}">
                  <img type=“img”  id="shape77" onclick="shape(this.id)" src="{{url_for('static', filename='icon/shape/shape77.jpg')}}">
                 
                </div>
              </div>

            </form>  
             
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!--Modal: modalShape-->

    {% block page_content %}{% endblock %}

    <footer class="site-footer">
      <div class="container">
        <div class="row text-center">

          <div class="col-md-12">
            <p>
            Copyright &copy; <script data-cfasync="false" src="#"></script><script>document.write(new Date().getFullYear());</script> STech. All Rights Reserved.
            </p>
          </div>
          
        </div>
      </div>
    </footer>

  </div>

  <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery-migrate-3.0.1.min.js')}}"></script> 
  <script src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
  <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
  <script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery.stellar.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery.countdown.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap-datepicker.min.js')}}"></script>

  <script src="{{url_for('static', filename='js/aos.js')}}"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&libraries=places&callback=initAutocomplete"
        async defer></script>
  <script>
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
  </script>
  <script>
    function validateForm()
    {
        var search_value = document.forms["search_form"]["search_content"].value;
        if (search_value=="" || search_value == null) {
            alert( "Search for Nothing?" );
            document.getElementById("search_form").focus();
            return false ;
        }
        //return true ;
    }
  </script>
  <script>
    // Get the modal
    var modal = document.getElementById("modalShape");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    function shape(click_id){
        //alert(document.getElementById("shape_choice").value);
        document.getElementById("shape_choice").value = click_id;
        document.getElementById("shape_show").src = document.getElementById(click_id).src;
        document.getElementById("shape_show").style.display = "block";
        //alert(document.getElementById("shape_choice").value);
    }
  </script>
  </body>
</html>